<link rel="stylesheet" type="text/css" href="portfolio.css">
<link rel="stylesheet" type="text/css" href="3d.css">

<section>
        <h3>Building brand system</h3>
        <img src="../img/creamysnug/creamy1.png" alt="">
        <img src="../img/creamysnug/creamy2.png" alt="">
        <img src="../img/creamysnug/creamy3.png" alt="">
        <img src="../img/creamysnug/creamy4.png" alt="">
        <img src="../img/creamysnug/creamy5.png" alt="">
        <img src="../img/creamysnug/creamy6.png" alt="">
        <img src="../img/creamysnug/creamy7.png" alt="">
        <img src="../img/creamysnug/creamy8.png" alt="">
        <img src="../img/creamysnug/creamy9.png" alt="">
        <h3>Design webpage</h3>
        <img src="../img/creamysnug/webpage.png" alt="">
</section>
<script src="common.js"></script>