<link rel="stylesheet" type="text/css" href="portfolio.css">
<main>
    <section>
        <img src="../img/experience.png" alt="" class="experience">
    </section>
</main>
<script src="common.js"></script>
<script src="experience.js"></script>