<link rel="stylesheet" type="text/css" href="portfolio.css">
<link rel="stylesheet" type="text/css" href="3d.css"> 
 
 <section>
        <h4>Self portrait : three figures</h4>
        <p>An evocative night at 11 P.M. I drew my face and the ideal of what I dreamed
            of. I drew lights of various thoughts in the shape to different colors and
            patterns around my face at 11 p.m. The different patterns of light bulbs
            shape the different ideas I think.</p>
        <img src="../img/fineart/13.jpg" alt="">

        <h4>Visual bundle</h4>
        <p>I imagine the amount of images of the visual coming through my optic nerve. In the eyes of the first aisle, I expressed abstract shapes that let me feel overwhelmed by the recombination of memory bundle. I have shaped the optic nerve into a regular buttons and a buttons made of soft clay, and shaped the shape of my memory at each end.</p>
        <img src="../img/fineart/111.jpg" alt="">

        <h4>Self portrait : Emotion</h4>
        <p>What are the shapes that I feel? I have characterized my mood swings. Especially the kind of feeling that is exhaling from the straw at the front showed pleasure. Then the orange ball showed excitement. The shift-and- forward patterns were designed and shaped. Other lumps of blue can symbolize a feeling of calm, a lack of imagination for pink, a sense of apprehension for yellow, and a feeling of melancholy for green. After various experimented with frame, plastic containers, acrylic paints, straws, urethane foam to visualize feelings, then I developed it using the above material. Then installed my feelings and put them into space.</p>
        <img src="../img/fineart/20.jpg" alt="">

        <h4>Nude drawing 14 ; detail</h4>
        <p>Observed and drew in female nude model’s body shadow and gesture, smooth skin with conte. Differentiating into areas such as the upper, torso, and lower body of each body, and focused on the shape of the muscles. So it is painted in 4 areas and made into series.</p>
        <img src="../img/fineart/19.jpg" alt="">

        <h4>That bananas</h4>
        <p>I expressed that my mood and behavior that day was changed according to the banana I ate every morning. I showed my daily condition connected to various banana states, such as hard bananas, mushy bananas, and ripe bananas.</p>
        <img src="../img/fineart/118.jpg" alt="">

        <h4>Six thursdays</h4>
        <p>I made a collage diary of how I felt and what happened during the week on every Thursday. Freely expressed through various arrangements. I described in my way what had happened one week after like the roller coaster ride, one
            week after the calm and quiet, and one week after the depression.</p>
        <img src="../img/fineart/17.jpg" alt="">
        
    </section>