<link rel="stylesheet" href="greenp.css">
<main>
    <section class="intro">
      <img src="../img/W1/0.png" alt="">
      <video controls>
        <source src="../img/W1/greenp final video.mp4" type="video/mp4">
      </video>
    </section>
    <section>
        <div id="files"></div>
    </section>
</main>
 <script src="greenp.js"></script>