<link rel="stylesheet" href="index.css">
<section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, blanditiis.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, blanditiis.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, blanditiis.
      </p>
</section>
 <script src="main.js"></script>