{{!-- <link rel="stylesheet" href="index.css"> --}}
<section>
      <p>
        I'm a person who does things with a plan.
      </p>
    </section>
    <section>
      <p>
        I like to hear people's opinions.
      </p>
    </section>
    <section>
      <p>
        Are you ready to join me?
      </p>
</section>
 <script src="main.js"></script>