<link rel="stylesheet" type="text/css" href="portfolio.css">
<link rel="stylesheet" type="text/css" href="3d.css">
<section>
        <ul class="real3d">
            <li><a href="../img/only-minions/minions.html">See minions in 3D</a></li>
            <li><a href="../img/only-minions/chessboard.html">See chess board in 3D</a></li>
            <li><a href="../img/only-minions/whole.html">See whole work in 3D</a></li>
        </ul>
    </section>
    <section>
        <h3>Rendering images</h3>
        <img src="../img/render images/mini1.jpg" alt="">
        <img src="../img/render images/mini2.jpg" alt="">
        <img src="../img/render images/mini3.jpg" alt="">
        <img src="../img/render images/mini4.jpg" alt="">
</section>