<link rel="stylesheet" type="text/css" href="portfolio.css">
{{!-- <link rel="stylesheet" type="text/css" href="index.css"> --}}
<main>
    <section class="contents">
      <div id="works"></div>
    </section>
</main>    
<script src="portfolio.js"></script>