<link rel="stylesheet" type="text/css" href="portfolio.css">
<main>
    <section class="contents">
      <div id="works"></div>
    </section>
</main>    
<script src="common.js"></script>
<script src="portfolio.js"></script>