<link rel="stylesheet" type="text/css" href="portfolio.css">
<link rel="stylesheet" type="text/css" href="greenp.css">
<link rel="stylesheet" type="text/css" href="starbucks.css">

<section>
        <h3>Redesigned Starbucks application design</h3>
        <p>One of my frequently using apps is Starbuck app.</p>
        <button class="invision" onclick="invision()">Run application</button>
</section>
<section class="images">
        <img src="../img/starbucks/Main page.png" alt="">
        <img src="../img/starbucks/card page1.png" alt="">
        <img src="../img/starbucks/card page2.png" alt="">
        <img src="../img/starbucks/card page3.png" alt="">
        <img src="../img/starbucks/card view more.png" alt="">
        <img src="../img/starbucks/buy new card.png" alt="">
        <img src="../img/starbucks/my page.png" alt="">
        <img src="../img/starbucks/order.png" alt="">
        <img src="../img/starbucks/order click pickup.png" alt="">
        <img src="../img/starbucks/order click pickup - previos.png" alt="">
        <img src="../img/starbucks/order click pickup -view map.png" alt="">
        <img src="../img/starbucks/order-featured.png" alt="">
        <img src="../img/starbucks/order-previous.png" alt="">
        <img src="../img/starbucks/order-favorite.png" alt="">
        <img src="../img/starbucks/cold drink.png" alt="">
        <img src="../img/starbucks/americano.png" alt="">
        <img src="../img/starbucks/cold brew.png" alt="">
        <img src="../img/starbucks/choose drink.png" alt="">
        <img src="../img/starbucks/cart view.png" alt="">
        <img src="../img/starbucks/place order.png" alt="">
        <img src="../img/starbucks/see you soon.png" alt="">
        <img src="../img/starbucks/see you soon - get direction.png" alt="">
        <img src="../img/starbucks/see you soon - receipt.png" alt="">
</section>
<script src="common.js"></script>
<script src="starbucks.js"></script>