<link rel="stylesheet" type="text/css" href="portfolio.css">
<link rel="stylesheet" type="text/css" href="3d.css">

<section>
        <h4>Rendering images</h4>
        <img src="../img/wine/wine/1.jpg" alt="">
        <img src="../img/wine/wine/2.jpg" alt="">
        <img src="../img/wine/wine/3.jpg" alt="">
        <img src="../img/wine/wine/4.jpg" alt="">
        <img src="../img/wine/wine/5.jpg" alt="">
        <img src="../img/wine/wine/6.jpg" alt="">
</section>