header{height: 30vh;}
ul{display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 3em; text-align: center; align-items: center; }

.real3d{border: 1px solid var(--hover); border-radius: 20px; padding: 0.5em 2em; width: 80%; margin: auto;}
ul li:hover a{font-weight: 700; color: var(--hover);}

section{width: 80%; margin: auto;}
section+section{padding-top: 3em;}
img{width: 100%;}
img+img{padding-top: 5em; }
img+h4{padding-top: 10em;}

.fine{padding-top: 3em;}

@media all and (max-width: 1024px) and (min-width: 768px){
    .real3d li{font-size: 0.8em;}
}

@media all and (max-width: 767px) and (min-width: 320px){
    .real3d{display: block; border: none;}
    .real3d li{border: 1px solid var(--hover); border-radius: 20px; padding: 0.5em 2em;}
    .real3d li+li{margin-top: 1em;}
    .real3d a{font-size: 0.8em;}
    section{position: relative; width: 90%; top: -10vh;}
    section h3{font-size: 1em;}
    section p{font-size: 0.8em;}
}