main{padding: unset;}
.greenp{position: relative; width: 100%;}
.intro{display: grid; grid-template-columns: 1.8fr 1fr; column-gap: 2em; align-items: center;}
.intro img{width: 100%;}
video{width: 100%; height: 100%;}
.work img{width: 100%;}