
header .cover{width: 100%; height: unset; position: absolute; top: 20vh; object-fit: cover;}




main{padding: unset;}
.greenp{position: relative; width: 100%;}
.intro{display: grid; grid-template-columns: 1.8fr 1fr; column-gap: 2em; align-items: center; padding-bottom: 5em;}
.intro img{width: 100%;}
video{width: 100%; height: 100%;}
.work img{width: 100%; background-color: var(--white);}

/* #contentName{position: absolute; right: 0; color: black; background-color: unset; top: 50%; z-index: 3; text-align: right;} */

article+article{padding-top: 3em;}

@media all and (max-width: 1024px) and (min-width: 768px){
    header .cover{top: 12vh;}
    section button{margin-left: 72%;}
}

@media all and (max-width: 767px) and (min-width: 320px){
    main{width: 90%;}
    header .cover{margin: unset;}
    .intro{display: block;}
    .intro img{padding-bottom: 3em;}
    .intro div{text-align: center;}
    video{width: 86%; border: 1px solid var(--white);}
}